* {
  font-family: arial;
  font-weight: 100;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #000;
  margin-top: 100px;
  padding: 20px;
}

.actionsContainer {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  /* position: relative; */
  /* display: flex; */
  /* flex-direction: column; */
  background: #212121;
  border-radius: 5px;
}

h1 {
  color: white;
}

h2 {
  text-align: left;
  color: white;
}

.actionsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.btn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #212121;
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.btn:active {
  background: #424242;
}

.btn p {
  color: grey;
}

.bodyContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;

}

.rightContainer {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #000;
  /* border-radius: 5px; */


}

.editorContainer {
  width: 100%;
  background: #212121;
  border-radius: 5px;
  padding: 20px;

}

.filesContainer {

}

.fileItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-right: 20px; */
  /* padding-left: 20px; */
  background-color: #212121;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
  margin: 5px;
}

.fileItem:active {
  opacity: .7;
}

.fileItem p {
  flex: 1;
  text-align: left;
  margin-left: 10px;
  color: white;
}

.setCoverBtn {
  background-color: #212121;
  height: 35px;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  align-self: center;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  display: none;
  /* margin: 2px; */
}

.setCoverBtn:active {
  background: #424242;
}


.setCoverBtn span {
  color: grey;
  /* align-self: center; */

  /* padding: 0px; */
  /* margin: 0px; */
}

.albumsContainer {
  width: 45%;
  background: #212121;
  border-radius: 5px;
  padding: 20px;

}

.albumIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;

}

.albumIcon {
  position: relative;
  width: 150;
  height: 150;
}

.albumIcon:active {
  opacity: .7;
}

.albumIconTitle {
  position: absolute;
  margin: 0px;
  bottom: 8px;
  right: 5px;
  left: 5px;
  text-align: center;
  color: #d4ae93;
  background-color: rgba(0,0,0,.7);
}

.fileInput {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.fileInput.focus {
  opacity: 0;
}


.titleInput {
  width: 100%;
  padding: 10px;
  font-size: 17px;
  background-color: #212121;
  color: #fff;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 0px;
  margin-bottom: 30px;
}

.titleInput:focus{
  outline: none;
}

.titleInput::placeholder {
  color: #e0e0e0;
}
