.App {
  text-align: center;
  transition: .7s;
  font-family: 'Maven Pro', sans-serif;
  font-family: AppleMyungjo;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.top {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.splash {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}

.about {
  background: rgba(0,0,0,.80);

  color: white;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h2 {
  font-size: calc(15px + 2vmin);
  font-weight: bold;
  color: #d4ae93;
}

.about p {
  text-align: left;
  font-size: calc(6px + 2vmin);
  color: #616161;
  font-weight: 100;
  width: 50%;
  margin: 50px;
  border-radius: 5px;
  padding: 75px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.header {
  min-height: 15vh;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 10000;
}

.header p {
  font-weight: 200;
  margin-right: 45px;
  font-size: 21px;
  transition: .3s;
  color: #4d4d4d
}

.header p:hover {
  color: #fff
}

.header p:active {
  color: #424242;
  transition: .1s;
}

.header .active {
  color: #fff;

}

.App-link {
  color: #61dafb;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5;
}

.logo {
  width: 25%;
  margin-right: 15%;
}

.logo-2 {
  width: 10%;
}

.logo-2:active {
  opacity: .5;
}

.button {
  display: flex;
  width: 20%;
  height: 15%;
  margin-right: 0%;
  background-color: #000;
  transition: .5s;
  justify-content: center;
  align-items: center;
  border: 1px solid #616161;
  border-radius: 5px;
}

.button h3 {
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: calc(10px + 2vmin);
}

.button:active {
  background-color: #212121;
  transition: .1s;
}

.album-card {
  height: 250px;
  width: 250px;
  position: relative;
  background-color: #000;
  overflow: hidden;
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.album-n {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: #fff;
  font-weight: 100;
  font-size: 21px;
  background-color: rgba(0, 0, 0, 0.80);
  transition: .3s;
}

.album-n:hover {
  opacity: 1;
}

.album-n:active {
  background-color: rgba(0, 0, 0, 0.90);
}

.img-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.album-title {
  color: #d4ae93;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.img-card {
  height: 250px;
  width: 250px;
  position: relative;
  background-color: #000;
  overflow: hidden;
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.img-itm {
  width: 250px;
  position: absolute;
  /* left: -50px; */
  /* align-self: center; */
  height: 250px;
  object-fit: cover;
  background-color: #00000000;
  /* margin-top: 10px; */
}

.img-itm-reg {
  width: 250px;
  position: absolute;
  /* left: -50px; */
  /* align-self: center; */
  height: 250px;
  object-fit: contain;
  background-color: #00000000;
  /* margin-top: 10px; */
}

.img-gal {
  background-color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.pop-img {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  background: #00000099;
  height: 100%;
  transition: .3s;
}

.popped-img {
  width: auto;
  height: auto;
  max-width: 60%;
  max-height: 90%;
}

.icon-l, .icon-r ,.icon-x {
  position: absolute;
  align-self: center;
}

.icon-l {
  left: 20px;
  font-size: 51px;
  color: #fff;
}
.icon-r {
  right: 20px;
  font-size: 51px;
  color: #fff;
}

.icon-l:active {
  color: #ffffff80;

}

.icon-r:active {
  color: #ffffff80;
}

.icon-x {
  font-size: 35px;
  left: 35px;
  top: 100px;
  color: #fff;
  z-index: 100001
}

.icon-x:active {
  color: #ffffff80;
}

.icon {
  color: #616161;
  font-size: 21px;
  transition: .3s;
}

.icon:hover {
  color: #9e9e9e;
}

.icon:active {
  color: #212121;
}

.footer {
  background: #000;
  height: 100px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: #616161;
}

.footer a {
  margin: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  padding-bottom: 75px;

}


.contact h2 {
  font-size: calc(15px + 2vmin);
  font-weight: 200;
  color: #d4ae93;
}

form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  position: relative;

}

form input, textarea{
  width: 50%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #616161;
  box-shadow: 0px;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  color: #fff;
  /* background-color: rgba(212,174,147,.60); */
  background-color: rgba(0,0,0,.70);
  /* background-color: #9B806E99; */
  ;
}

textarea {
  height: 100px;
}

form input:focus, textarea {
 outline: none;
}

.submit {
  width: 25%;
  height: 75px;
  align-self: center;
  background-color: #d4ae93;
  color: #212121;
  border: 0px solid #616161;
  transition: .1s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.submit h3 {
  transition: .3s;
}


.submit:hover h3 {
  color: rgba(0,0,0,.5);
}

.submit:active {
  background-color: #d4ae9390;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e0e0e0;
    opacity: .5; /* Firefox */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 900px) {
    .bg {
      width: 900px;

    }
}

@media only screen and (max-width: 800px) {
    .bg {
      width: 800px;

    }
}


@media only screen and (max-width: 700px) {
    .bg {
      left: -400px;
      width: 1200px;
      opacity: .4;
    }
    .top {
      height: 700px;
    }
    .splash {
      flex-direction: column;
      justify-content: center;
    }
    .logo {
      width: 45%;
      margin-right: 0%;
    }
    .button {
      width: 150px;
      height: 75px;
    }
    .header {
      justify-content: space-around;
    }
    .header p {
      margin-right: 0px;
    }
    form input, textarea{
      width: 90%;
      margin: 0px;
      margin-bottom: 10px;

    }
    .submit {
      height: 50px;
      width: 90%;
      margin: 0px;
      margin-top: 10px;
    }
    .popped-img {
      width: 100%;
      max-width: 100%;
    }
    .about p {
      width: 80%;
    }
    .logo-2 {
      width: 15%;
      display: none;
    }
    .footer {
      flex-direction: column;
    }
    .img-gal {
      background-color: #000;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 90px;
    }

}
